.strip {
  width: 100%;
  height: 20vh;
}

.strip:nth-child(1) {
  background-color: #ffef78;
}

.strip:nth-child(2) {
  background-color: #dd78ff;
}

.strip:nth-child(3) {
  background-color: #7aff83;
}

.strip:nth-child(4) {
  background-color: #ff7c7a;
}

.strip:nth-child(5) {
  background-color: #78b0ff;
}

.is-folded {
  height: 1.5vh;
}
