@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  overflow: auto;
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-feature-settings: "ss05";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (orientation: portrait) {
  html {
    font-size: 4vw;
  }
}

@media (orientation: landscape) {
  html {
    font-size: 4vh;
  }
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

p {
  font-size: 1.25em;
}

li {
  font-size: 1.25em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
p,
li:not(:first-child) {
  margin: 2rem 0;
}

code,
pre {
  font-family: "Space Mono", monospace;
  /* Otherwise, code is going to take more space than non-code: */
  line-height: 1;
}

a {
  color: inherit;
}
