@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  overflow: auto;
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-feature-settings: "ss05";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

p {
  font-size: 1.25em;
}

li {
  font-size: 1.25em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
p,
li {
  margin: 2rem 0;
}
